body{
    background-color: rgb(107, 183, 107) ;
    overflow: hidden;
    height: 100%;
}

h1{
    text-align: center;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 75px;
    text-shadow: 2px 2px 4px rgb(81, 81, 81);
}

.photo-canabis01{
  width: 500px;
  position: absolute;
  top: -150px; 
  left: -160px;
  transform: rotate(120deg);
}

.photo-canabis02{
  width: 500px; 
  position: absolute;
  top: -180px; 
  left: 1100px;
  transform: rotate(-120deg);
}
.photo-canabis03{
  width: 750px; 
  position: absolute;
  top: 200px; 
  left: 900px;
  transform: rotate(-40deg);
}
